<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{page.title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link href='https://fonts.googleapis.com/css?family=Italianno' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
	    <div class="outercontainer">
	    	<div class="callout">
	    	</div>
	    	<nav class="navbar">
                <ul class="nav navbar-nav navbar-custom">
                    <li class="active nav-item"><a class="navbar-custom" href="/">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle navbar-custom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wedding<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="navbar-custom" href="events.html">List of Events</a></li>
                            <li><a class="navbar-custom" href="ceremony.html">Wedding Ceremony</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="navbar-custom" href="venue.html">Venue</a></li>
                    <li class="nav-item"><a class="navbar-custom" href="travel.html">Travel</a></li>
                    <li class="nav-item"><a class="navbar-custom" href="accomodation.html">Accommodation</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle navbar-custom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Activities<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="navbar-custom" href="venueactivities.html">Near the Venue</a></li>
                            <li><a class="navbar-custom" href="bayarea.html">Around the Bay Area</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="navbar-custom" href="registry.html">Registry</a></li>
                    <li class="nav-item"><a class="navbar-custom" href="pictures.html">Photo Gallery</a></li>
                    <li class="nav-item"><a class="navbar-custom" href="rsvp.html">RSVP</a></li>
                </ul>
	    	</nav>
	    	<div class="content">
            {{page.content | markdownify}}    
	    	</div>
	    </div>

	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>
    </body>
</html>
